body {
  background-color: skyBlue;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  height: 100%;
}

#logo {
  font-size: 2em;
  font-weight: 800;
  margin: 10px auto;
  text-align: center;
  color: #ffab00;
}

.dogCard {
  color: white;
  display: inline-block;
  font-weight: bold;
  height: 125px;
  width: 125px;
}

.dogCard div {
  padding-left: 5px;
}

.landing-body {
  background: url("../images/puppr.jpg") center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-content {
  text-align: center;
  padding-top: 55%;
}

.landing-text {
  color: white;
  font-weight: bolder;
  text-shadow: 0px 4px 3px rgba(0,0,0,1);
}

hr {
  width: 220px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 2px solid rgba(0,0,0,0.3)
}
